<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Trello</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <a class="return" asp-controller="Home" asp-action="Index">POEC CRM</a>

            <menu>
                <li><a asp-controller="Home" asp-action="Index"><span class="effect-left"></span>Home<span class="effect-right"></span></a></li>
                <li><a asp-controller="Clients" asp-action="Index"><span class="effect-left"></span>Clients<span class="effect-right"></span></a></li>
                <li><a asp-controller="Orders" asp-action="Index"><span class="effect-left"></span>Orders<span class="effect-right"></span></a></li>
                <li><a asp-controller="Users" asp-action="Index"><span class="effect-left"></span>Users<span class="effect-right"></span></a></li>
            </menu>
        </nav>
    </header>

    <div class="banner"></div>
    

    <div class="main-container">
        <aside class="sidebar">
            <nav>
                <h3>Clients</h3>
                <menu>
                    <li><a asp-controller="Clients" asp-action="Index">Show all clients</a></li>
                    <li><a asp-controller="Clients" asp-action="Create">Add client</a></li>
                </menu>

                <h3>Orders</h3>
                <menu>
                    <li><a asp-controller="Orders" asp-action="Index">Show all orders</a></li>
                    <li><a asp-controller="Orders" asp-action="Create">Add order</a></li>
                </menu>

                <h3>Users</h3>
                <menu>
                    <li><a asp-controller="Users" asp-action="Index">Show all users</a></li>
                    <li><a asp-controller="Users" asp-action="Create">Add user</a></li>
                </menu>
            </nav>
        </aside>

        <main class="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <p>
            &copy; 2023 - POEC Trello - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
        </p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>