@model Client

<div class="form-linear-gradient bg-linear-gradient-slow">
    <form class="form" asp-controller="Clients" asp-action="Create">
        <h1>Create client</h1>
        
        <label for="name">Name</label>
        <input type="text" name="name" id="name">

        <label for="state">State</label>
        <input type="text" id="state" name="state">

        <label for="tva">TVA</label>
        <input type="number" id="tva" name="tva" step=".01">

        <label for="totalcaht">Total CA HT</label>
        <input type="number" id="totalcaht" name="totalcaht" step=".01">

        <label for="comment">About</label>
        <input type="text" id="comment" name="comment">

        <label for="buisnessunit">Buisness Unit</label>
        <select name="buisnessunit" id="buisnessunit">Buisness Unit
            <option value="">--Please select a buisness unit</option>
            <option value="FORMA">FORMA</option>
            <option value="INGE">INGE</option>
        </select>

        <div class="bloc-actions">
            <button type="submit"><span class="material-icons">edit_note</span> Create</button>
        </div>
    </form>
</div>